{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">{{ .Description }}</div>
  {{- end }}
</header>

{{- $menuURLs := slice -}}
<section class="archive-year" aria-labelledby="site-pages-heading">
  <h2 class="archive-year-header" id="site-pages-heading">Site Pages</h2>
  <div class="archive-posts">
    {{- range site.Menus.main }}
      {{- $menuURLs = $menuURLs | append .URL }}
      <article class="archive-entry">
        <h3 class="archive-entry-title">
          <a class="archive-entry-link" href="{{ .URL | relURL }}">{{ .Name }}</a>
        </h3>
      </article>
    {{- end }}
  </div>
</section>

{{- $pages := where site.RegularPages "RelPermalink" "not in" $menuURLs -}}

{{- range $pages.GroupByPublishDate "2006" }}
{{- if ne .Key "0001" }}
<section class="archive-year">
  {{- $year := replace .Key "0001" "" }}
  <h2 class="archive-year-header" id="{{ $year }}">
    <a class="archive-header-link" href="#{{ $year }}">{{- $year -}}</a>
    <sup class="archive-count">&nbsp;{{ len .Pages }}</sup>
  </h2>
  {{- range .Pages.GroupByDate "January" }}
  <div class="archive-month">
    <h3 class="archive-month-header" id="{{ $year }}-{{ .Key }}">
      <a class="archive-header-link" href="#{{ $year }}-{{ .Key }}">{{- .Key -}}</a>
      <sup class="archive-count">&nbsp;{{ len .Pages }}</sup>
    </h3>
    <div class="archive-posts">
      {{- range .Pages }}
      {{- if eq .Kind "page" }}
      <article class="archive-entry">
        <h3 class="archive-entry-title entry-hint-parent">
          <a class="archive-entry-link" href="{{ .RelPermalink }}" aria-label="Open {{ .Title | plainify }}">
            {{- .Title | markdownify }}
          </a>
          {{- if .Draft }}<span class="entry-hint" title="Draft">Draft</span>{{- end }}
        </h3>
        <div class="archive-meta">{{- partial "post_meta.html" . -}}</div>
      </article>
      {{- end }}
      {{- end }}
    </div>
  </div>
  {{- end }}
</section>
{{- end }}
{{- end }}

{{- end }}
