{{- $id := site.Config.Services.GoogleAnalytics.ID -}}
{{- if not $id -}}
  {{- with site.Params.analytics.google.SiteVerificationTag -}}{{- end -}}
{{- else -}}
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag("js", new Date());

  (function () {
    const id = {{ $id | jsonify }};
    const consent = localStorage.getItem("consent");
    if (consent !== "true") return;

    const loadAnalytics = function () {
      const s = document.createElement("script");
      s.async = true;
      s.src = "https://www.googletagmanager.com/gtag/js?id=" + encodeURIComponent(id);
      document.head.appendChild(s);
      gtag("config", id, { anonymize_ip: true });
    };

    if ("requestIdleCallback" in window) {
      requestIdleCallback(loadAnalytics, { timeout: 2500 });
    } else {
      window.setTimeout(loadAnalytics, 1200);
    }
  })();
</script>
{{- end -}}
