

<script>
 var currentURL = window.location.href;
 var homepageURL = 'https://orioninsist.org';

 for (var i = 0; i < redirectList.length; i++) {
        if (currentURL.includes(redirectList[i].oldUrl)) {
            window.location.href = homepageURL + redirectList[i].newUrl;
            break;
        }
    }

 if(i === redirectList.length) {
    window.location.href = homepageURL;
    }
</script>





<!--{{- define "main" }} 
<div class="not-found">404</div> 
<script>
    window.location.href = '/';
</script> 
-->


<!--
<script>
    var currentURL = window.location.href;
    var homepageURL = 'https://orioninsist.org';

    var redirectList = [
        {
            oldUrl: '/projects/cyber-security-applications-with-python/part4/',
            newUrl: '/blog/how-to-build-a-simple-client-server-chat-application-in-python/'
        },
        {
            oldUrl: '/projects/cyber-security-applications-with-python/part2/',
            newUrl: '/blog/exploring-cybersecurity-with-python-advanced-topics-and-practical-examples/'
        },

        {
           oldUrl: '/projects/cyber-security-applications-with-python/part3/',
           newUrl: '/blog/python-socket-library-a-network-programming-gem/'
        },
    ];

    for (var i = 0; i < redirectList.length; i++) {
        if (currentURL.includes(redirectList[i].oldUrl)) {
            window.location.href = homepageURL + redirectList[i].newUrl;
            break;
        }
    }

    if(i === redirectList.length) {
      window.location.href = homepageURL;
    }
</script>
{{- end }}{{/* end main */ -}} -->



















